install/EventBridgeHISReportService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="urn:Demo.EventBridge.HIS.ReportService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="urn:Demo.EventBridge.HIS.ReportService">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="urn:Demo.EventBridge.HIS.ReportService">
            <s:element name="SubmitReport">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="report" type="s0:ReportInfo"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ReportInfo">
                <s:sequence>
                    <s:element minOccurs="0" name="PatientId" type="s:string"/>
                    <s:element minOccurs="0" name="VisitNumber" type="s:string"/>
                    <s:element minOccurs="0" name="OrderId" type="s:string"/>
                    <s:element minOccurs="0" name="PlacerOrderNumber" type="s:string"/>
                    <s:element minOccurs="0" name="FillerOrderNumber" type="s:string"/>
                    <s:element minOccurs="0" name="Modality" type="s:string"/>
                    <s:element minOccurs="0" name="ReportDateTime" type="s:dateTime"/>
                    <s:element minOccurs="0" name="ReportStatus" type="s:string"/>
                    <s:element minOccurs="0" name="ReportText" type="s:string"/>
                    <s:element minOccurs="0" name="Observations" type="s0:ArrayOfReportObservationInfo"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfReportObservationInfo">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ReportObservationInfo" nillable="true" type="s0:ReportObservationInfo"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ReportObservationInfo">
                <s:sequence>
                    <s:element minOccurs="0" name="Code" type="s:string"/>
                    <s:element minOccurs="0" name="Name" type="s:string"/>
                    <s:element minOccurs="0" name="Value" type="s:string"/>
                    <s:element minOccurs="0" name="Units" type="s:string"/>
                    <s:element minOccurs="0" name="ResultStatus" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="SubmitReportResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="SubmitReportResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="SubmitReportSoapIn">
        <part name="parameters" element="s0:SubmitReport"/>
    </message>
    <message name="SubmitReportSoapOut">
        <part name="parameters" element="s0:SubmitReportResponse"/>
    </message>
    <portType name="ReportServiceSoap">
        <operation name="SubmitReport">
            <input message="s0:SubmitReportSoapIn"/>
            <output message="s0:SubmitReportSoapOut"/>
        </operation>
    </portType>
    <binding name="ReportServiceSoap" type="s0:ReportServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="SubmitReport">
            <soap:operation soapAction="urn:Demo.EventBridge.HIS.ReportService/Demo.EventBridge.HIS.ReportService.SubmitReport" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ReportService">
        <port name="ReportServiceSoap" binding="s0:ReportServiceSoap">
            <soap:address location="http://localhost:52773/csp/user/Demo.EventBridge.HIS.ReportService.cls"/>
        </port>
    </service>
</definitions>