install/HISResultSoapService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="Demo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="Demo">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="Demo">
            <s:element name="NewResult">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="result" type="s0:ResultInfo"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ResultInfo">
                <s:sequence>
                    <s:element minOccurs="0" name="PatientId" type="s:string"/>
                    <s:element minOccurs="0" name="OrderId" type="s:string"/>
                    <s:element minOccurs="0" name="Observations" type="s0:ArrayOfObxInfo"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfObxInfo">
                <s:sequence>
                    <s:element maxOccurs="unbounded" minOccurs="0" name="ObxInfo" nillable="true" type="s0:ObxInfo"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ObxInfo">
                <s:sequence>
                    <s:element minOccurs="0" name="Code" type="s:string"/>
                    <s:element minOccurs="0" name="Name" type="s:string"/>
                    <s:element minOccurs="0" name="Value" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="NewResultResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="NewResultResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="NewResultSoapIn">
        <part name="parameters" element="s0:NewResult"/>
    </message>
    <message name="NewResultSoapOut">
        <part name="parameters" element="s0:NewResultResponse"/>
    </message>
    <portType name="ResultSoapServiceSoap">
        <operation name="NewResult">
            <input message="s0:NewResultSoapIn"/>
            <output message="s0:NewResultSoapOut"/>
        </operation>
    </portType>
    <binding name="ResultSoapServiceSoap" type="s0:ResultSoapServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="NewResult">
            <soap:operation soapAction="Demo/Demo.HIS.ResultSoapService.NewResult" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ResultSoapService">
        <port name="ResultSoapServiceSoap" binding="s0:ResultSoapServiceSoap">
            <soap:address location="http://localhost:52773/csp/user/Demo.HIS.ResultSoapService.cls"/>
        </port>
    </service>
</definitions>